@charset "utf-8";
/* CSS FOR PORTFOLIO */
/* Main Tags */

.article-teaser {
  padding: 0px;
}

.article-teaser img {
  float: left;
  margin-top: 12px;
  padding-left: 0px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 20%;
  height: 12%;
}